@font-face {
    font-family: 'icomoon';
    src: url('/feedback/assets/fonts/icomoon.eot?svvflv');
    src: url('/feedback/assets/fonts/icomoon.eot?svvflv#iefix') format('embedded-opentype'), url('/feedback/assets/fonts/icomoon.ttf?svvflv') format('truetype'), url('/feedback/assets/fonts/icomoon.woff?svvflv') format('woff'), url('/feedback/assets/fonts/icomoon.svg?svvflv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-address:before {
    content: '\e800';
    color: #989898;
}


/* '' */

.icon-back:before {
    content: '\e801';
    color: #989898;
}


/* '' */

.icon-camera:before {
    content: '\e802';
    color: #989898;
}


/* '' */

.icon-products:before {
    content: '\e803';
    color: #989898;
}


/* '' */

.icon-approve:before {
    content: '\e804';
    color: #989898;
}


/* '' */

.icon-Cascading-list:before {
    content: '\e805';
    color: #989898;
}


/* '' */

.icon-paragraph:before {
    content: '\e806';
    color: #989898;
}


/* '' */

.icon-up-arrow:before {
    content: '\e807';
    color: #989898;
}


/* '' */

.icon-ratings:before {
    content: '\e808';
    color: #989898;
}


/* '' */

.icon-multiple-choice:before {
    content: '\e809';
    color: #989898;
}


/* '' */

.icon-search:before {
    content: '\e80a';
    color: #989898;
}


/* '' */

.icon-short-answer:before {
    content: '\e80b';
    color: #989898;
}


/* '' */

.icon-time:before {
    content: '\e80c';
    color: #989898;
}


/* '' */

.icon-list:before {
    content: '\e80d';
    color: #989898;
}


/* '' */

.icon-checkbox:before {
    content: '\e80e';
    color: #989898;
}


/* '' */

.icon-date:before {
    content: '\e80f';
    color: #989898;
}


/* '' */

.icon-drag:before {
    content: '\e810';
    color: #989898;
}


/* '' */

.icon-decending2:before {
    content: '\e811';
    color: #989898;
}


/* '' */

.icon-drag2:before {
    content: '\e812';
    color: #989898;
}


/* '' */

.icon-dropdown:before {
    content: '\e813';
    color: #989898;
}


/* '' */

.icon-duplicate2:before {
    content: '\e814';
    color: #989898;
}


/* '' */

.icon-email:before {
    content: '\e815';
    color: #989898;
}


/* '' */

.icon-glyph-5:before {
    content: '\e816';
    color: #989898;
}


/* '' */

.icon-success:before {
    content: '\e817';
    color: #989898;
}


/* '' */

.icon-glyph-6:before {
    content: '\e818';
    color: #989898;
}


/* '' */

.icon-duplicate:before {
    content: '\e819';
    color: #989898;
}


/* '' */

.icon-image-upload:before {
    content: '\e81a';
    color: #989898;
}


/* '' */

.icon-glyph-4:before {
    content: '\e81b';
    color: #989898;
}


/* '' */

.icon-location:before {
    content: '\e81c';
    color: #989898;
}


/* '' */

.icon-minus-circle:before {
    content: '\e81d';
    color: #989898;
}


/* '' */

.icon-multi-select:before {
    content: '\e81e';
    color: #989898;
}


/* '' */

.icon-paragraph2:before {
    content: '\e81f';
    color: #989898;
}


/* '' */

.icon-single-line:before {
    content: '\e820';
    color: #989898;
}


/* '' */

.icon-plus_line:before {
    content: '\e821';
    color: #989898;
}


/* '' */

.icon-radio:before {
    content: '\e822';
    color: #989898;
}


/* '' */

.icon-glyph-3:before {
    content: '\e823';
    color: #989898;
}


/* '' */

.icon-glyph-2:before {
    content: '\e824';
    color: #989898;
}


/* '' */

.icon-glyph:before {
    content: '\e825';
    color: #989898;
}


/* '' */

.icon-glyph:before {
    content: '\e826';
    color: #989898;
}


/* '' */

.icon-info-circled:before {
    content: '\e827';
    color: #989898;
}


/* '' */

.icon-cw:before {
    content: '\e828';
    color: #989898;
}


/* '' */

.icon-expand-arrow:before {
    content: '\e848';
    color: #989898;
}


/* '' */

.icon-collapse-arrow:before {
    content: '\e849';
    color: #989898;
}


/* '' */

.icon-add-circle:before {
    content: '\e900';
    color: #989898;
}


/* '' */

.icon-link:before {
    content: '\e91f';
    color: #989898;
}


/* '' */

.icon-delete:before {
    content: '\e92f';
    color: #989898;
}


/* '' */

.icon-edit:before {
    content: '\e931';
    color: #989898;
}


/* '' */

.icon-filter:before {
    content: '\e932';
    color: #989898;
}


/* '' */

.icon-label:before {
    content: '\e933';
    color: #989898;
}


/* '' */

.icon-plus:before {
    content: '\e936';
    color: #989898;
}


/* '' */

.icon-search2:before {
    content: '\e938';
    color: #989898;
}


/* '' */

.icon-arrow-down:before {
    content: '\e939';
    color: #989898;
}


/* '' */

.icon-arrow-left:before {
    content: '\e93a';
    color: #989898;
}


/* '' */

.icon-arrow-right:before {
    content: '\e93b';
    color: #989898;
}


/* '' */

.icon-arrow-up:before {
    content: '\e93c';
    color: #989898;
}


/* '' */

.icon-attachment:before {
    content: '\e93d';
    color: #989898;
}


/* '' */

.icon-calender:before {
    content: '\e93e';
    color: #989898;
}


/* '' */

.icon-close:before {
    content: '\e940';
    color: #989898;
}


/* '' */

.icon-collapse:before {
    content: '\e941';
    color: #989898;
}


/* '' */

.icon-forward:before {
    content: '\e942';
    color: #989898;
}


/* '' */

.icon-more:before {
    content: '\e944';
    color: #989898;
}


/* '' */

.icon-reply-all:before {
    content: '\e945';
    color: #989898;
}


/* '' */

.icon-reply:before {
    content: '\e946';
    color: #989898;
}


/* '' */

.icon-show:before {
    content: '\e947';
    color: #989898;
}


/* '' */

.icon-assending:before {
    content: '\e949';
    color: #989898;
}


/* '' */

.icon-first:before {
    content: '\e94a';
    color: #989898;
}


/* '' */

.icon-last:before {
    content: '\e94b';
    color: #989898;
}


/* '' */

.icon-user:before {
    content: '\e94d';
    color: #989898;
}


/* '' */

.icon-bookmark:before {
    content: '\e94e';
    color: #989898;
}


/* '' */

.icon-export:before {
    content: '\e94f';
    color: #989898;
}


/* '' */

.icon-grid:before {
    content: '\e979';
    color: #989898;
}


/* '' */

.icon-insights:before {
    content: '\e989';
    color: #989898;
}


/* '' */

.icon-mobile:before {
    content: '\e990';
    color: #989898;
}


/* '' */

.icon-inbox:before {
    content: '\e992';
    color: #989898;
}


/* '' */

.icon-end:before {
    content: '\e994';
    color: #989898;
}


/* '' */

.icon-desktop:before {
    content: '\e995';
    color: #989898;
}


/* '' */

.icon-decending:before {
    content: '\e996';
    color: #989898;
}


/* '' */

.icon-eye:before {
    content: '\e998';
    color: #989898;
}


/* '' */

.icon-add:before {
    content: '\e999';
    color: #989898;
}


/* '' */