$primary-color: #20A6FC;
$secondary-color: #f2f8fc;
$primary-hover: #289ace;
$primary-focus: #258fbf;
$badge-red: #de5245;
$canary: #E3D145;
$green: #48D2A0;
$font-grey: #97A4B1;
$bg-grey: #28313B;
$light-grey: #F4F7F9;
$grey: #eceff1;
$primary-text-color: #28313B;
$secondary-text-color: #1D212A;
$white: #ffffff;
$black: black;
$border-grey: #e8e8e8;
$border-grey-dark: #20A6FC;
$font-primary: 'Lato',
sans-serif;
$image-base-path: '/publishing/assets/images/';
$fade-opacity: .3;
$border-radius: 0.1875em;
$blue-hover:#1f89ce;
$danger-red: $badge-red;
$hover-bg:#e8f6fe;
$grey-hover:#EFF2F7;
$header-text-color:#233539;
$dark-border-grey:#E8E8E8;

// form preview vars //
$form-primary-color:rgba(14,112,237,1);
$form-primary-text-color:rgba(61,61,61,1);

// web in app widget colors
$widget-background-color:#f4f4f4;